<footer class="comment-form">
    <label class="textarea-label">
        Новая заметка
        <textarea
            maxlength="2000"
            placeholder="Например, проверить расписание поездов"
            [attr.aria-label]="'Заметка для маршрута ' + travelPlan().title"
            [(ngModel)]="note"
        ></textarea>
        <span>{{ note.length }}/2000</span>
    </label>

    <div class="form-actions">
        <label
            class="checkbox-anchor"
            [tourAnchor]="travelNotesTour ? anchors.checklist : ''"
        >
            <input type="checkbox" [(ngModel)]="addToChecklist" />
            <span>Добавить в чек-лист</span>
            <tui-icon icon="@tui.circle-help" />
        </label>

        <div class="buttons">
            <button appearance="flat" size="m" tuiButton type="button" (click)="cancel()">
                Отмена
            </button>
            <button size="m" tuiButton type="button" (click)="submit()">
                Добавить
            </button>
        </div>
    </div>
</footer>
