@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html,
body {
    min-height: 100%;
    margin: 0;
    background: #f6f7f8;
    font-family: var(--tui-font-text);
}

* {
    box-sizing: border-box;
}

.touranchor--is-active {
    pointer-events: none !important;
    mask-image: none !important;
    box-shadow:
        0 0 0 2px #6aa5ff,
        0 0 0 4px #fff,
        0 0 0 6px #b5d2ff !important;
}

.ngx-ui-tour_backdrop {
    background-color: transparent !important;
}

tui-hint[data-appearance='ngx-ui-tour'] {
    max-inline-size: calc(100vw - 1rem) !important;
    padding: 0 !important;
    border-radius: 1.25rem;
    background: #586dcd !important;
    color: #fff !important;
    box-shadow: 0 0.5rem 1.5rem rgb(31 42 92 / 20%);
    pointer-events: auto;
}
